# .gitignore for legacy .NET/VSS project
bin/
obj/
Backup/
Temp/
Debug/
Release/
*.suo
*.user
*.log
*.pdb
*.ilk
*.aps
*.sdf
*.vssscc
*.vspscc
*.sscc
vssver.scc
vssver2.scc
*.exe
*.dll
*.lib
*.class
*.jar
*.pyc
*.cache
*.tmp
*.bak
