<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BSE.Platten.Audio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BSE.Platten.Audio.Properties.Settings>
            <setting name="CMainClientSize" serializeAs="String">
                <value>720, 508</value>
            </setting>
            <setting name="trvImportDirectoryWidth" serializeAs="String">
                <value>176</value>
            </setting>
            <setting name="pnlImportDirectoryHeight" serializeAs="String">
                <value>166</value>
            </setting>
            <setting name="trvHomeDirectoryWidth" serializeAs="String">
                <value>176</value>
            </setting>
        </BSE.Platten.Audio.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
