<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.AW5ENTW0INSTANZConnectionString" connectionString="Data Source=SQLENTW2\CS;Initial Catalog=AW5ENTW0INSTANZ;User ID=AwAdm" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
